.view {
  margin-left: 350px;
  margin-right: 350px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 204, 153, 0.2);
}

.grid-item {
  display: inline-grid;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  align-content: end;
}

.buttons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

button {
  font-size: 35px;
  font-family: inherit;
  border: 0;
  padding: 20px 30px;
  background-color: transparent;
  border: 2px solid;
}

button:hover {
  background-color: rgba(255, 204, 153, 0.2);
}

img {
  max-height: 50px;
  width: 50px;
}
